#content-image {
    width: 500;
    height: 250; /* Mantiene la proporción de la imagen */
    max-height: 40Svh; /* Ajusta la altura máxima según tus necesidades */
    object-fit: fill;
}
h1{
    color: White    ;
    text-align: center;
}
p{
    color: white;
    text-indent: 10%;
}
.body{
    object-position: center;
}